.DS_Store
#TEMP LETTING THESE IN FOR NOW plots/
#TEMP hack ln -s
presentation/img/plots
results/
*.simulator.plots/
.doit.db
*.pyc

# LaTeX outputs
*.aux
*.bbl
*.blg
*.log

# Python stuff
*.egg-info

# Specific outputs
paper/paper.pdf
