.DS_Store
plots/
presentation/scripts/nengo.simulator.*
results/
*.simulator.plots/
.doit.db
*.pyc

# LaTeX outputs
*.aux
*.bbl
*.blg
*.log

# Python stuff
*.egg-info

# Specific outputs
paper/paper.pdf
